<template name="home">

    <!-- content -->
    <div id="content">

        <!-- container -->
        <div class="container-fluid">

            <div class="bottom-spacing-20 hidden-xs"></div>
            <div class="row bottom-spacing-20">
                <div class="col-md-6 col-sm-6">
                    <div class="well padding20">
                        <h3 class="hidden-xs" style="margin-top: 0;">Create A Give Page For Free</h3>
                        <div class="visible-xs" style="font-size: 18px; font-weight: bold; margin: -5px 0 15px 0;">Create A Give Page For Free</div>
                        <div class="form-group">
                            <input type="text" name="title" id="title" class="form-control input-lg" placeholder="my give page title">
                        </div>
                        <!--<div class="form-group input-group input-group-lg">-->
                            <!--<div class="input-group-btn">-->
                                <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">$<span class="caret"></span></button>-->
                                <!--<ul class="dropdown-menu" role="menu">-->
                                    <!--<li><a href="#">US Dollar</a></li>-->
                                    <!--<li><a href="#">Canadian Dollar</a></li>-->
                                    <!--<li><a href="#">Euro</a></li>-->
                                    <!--<li><a href="#">British Pound</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<input type="text" name="goalAmount" id="goalAmount" class="form-control input-lg" placeholder="Amount to raise">-->
                        <!--</div>-->
                        <div class="form-group input-group input-group-lg">
                            <span class="input-group-addon" id="basic-addon1">$</span>
                            <input type="text" name="goalAmount" id="goalAmount" class="form-control input-lg" placeholder="Amount to raise">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="{{pathFor 'create'}}" class="btn btn-primary btn-lg btn-block">Get Started</a>
                            </div>
                            <div class="visible-xs visible-sm bottom-spacing-20"></div>
                            <div class="col-md-6">
                                <a href="{{pathFor 'learn'}}" class="btn btn-primary-invert btn-lg btn-block">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="row hiw-item">
                        <div class="col-md-12 hiw-text">
                            <span class="hiw-number pull-left">1</span>
                            Create a give page in minutes to raise money for yourself, a loved one or a good cause.
                        </div>
                    </div>
                    <div class="row hiw-item">
                        <div class="col-md-12 hiw-text">
                            <span class="hiw-number pull-left">2</span>
                            Share your give page with friends, family and the world with our simple sharing tools.
                        </div>
                    </div>
                    <div class="row hiw-item">
                        <div class="col-md-12 hiw-text">
                            <span class="hiw-number pull-left">3</span>
                            All donations to your give page are deposited into your account as they’re received.
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 0;">
                        <div class="col-md-12 hiw-text">
                            <span class="hiw-number pull-left">4</span>
                            Pay no fees ($0) and <a href="{{pathFor 'gifts'}}">win crowdfunding gifts</a> with donors if they cover your costs.
                        </div>
                    </div>
                </div>
            </div>

            <!-- give pages -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        {{> list}}
                    </div>
                </div>
            </div>
            <!-- give pages -->

        </div>
        <!-- /container -->

    </div>
    <!-- /content -->

</template>