html, body {
  height: 100%;
}
#wrap {
  min-height: 100%;
}
#main {
  overflow:auto;
  padding-bottom:100px; /* this needs to be bigger than footer height*/
}
.footer {
  position: relative;
  margin-top: -100px; /* negative value of footer height */
  height: 100px;
  clear: both;
}
a,
button {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a i.fa,
button i.fa {
  margin: 0 5px;
}
body {
  padding-top: 100px;
  font-family: "Merriweather", "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
}
a {
  color: #6aae7a;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: #488456;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.active-link {
  color: #555;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.clickable {
  cursor: pointer !important;
}
#signin-modal {
  overflow: hidden;
}
#signin-modal .modal-header h4 {
  text-transform: lowercase;
}
#signin-modal form {
  margin-bottom: 20px;
}
#signin-modal a {
  color: #6aae7a;
}
#signin-modal p {
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 13px;
}
#intro {
  /*background: url('../img/home.jpg') no-repeat center top;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#intro .item {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  height: 100%;
}
#intro .item h1 {
  text-transform: lowercase;
  font-size: 50px;
  color: #fff;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  #intro .item h1 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  #intro .item h1 {
    font-size: 25px;
  }
}
#intro .item h3 {
  color: #fff;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  #intro .item h3 {
    font-size: 15px;
    margin-bottom: 20px;
  }
}
#intro .item .btn {
  text-transform: none;
}
@media (max-width: 991px) {
  #intro .item .btn {
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  #intro .item .carousel-caption {
    left: 10%;
    right: 10%;
  }
}
#intro .container,
#intro .row {
  height: 100%;
  position: relative;
}
/* advantages homepage */
#advantages {
  margin-top: 30px;
}
#advantages p {
  clear: both;
  color: #555555;
  text-align: center;
  margin-bottom: 40px;
  font-style: italic;
  font-size: 18px;
}
#advantages p strong {
  color: #6aae7a;
}
#advantages .box.no-border {
  text-align: left;
  margin: 0;
}
#advantages .box.no-border i {
  position: relative;
  font-size: 45px;
  float: left;
  margin: 0 20px 20px 0;
  color: #999999;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media (max-width: 991px) {
  #advantages .box.no-border i {
    float: none;
    margin: 0;
    text-align: center !important;
  }
}
#advantages .box.no-border h4 {
  font-size: 16px;
  margin-top: 5px;
  font-weight: 400;
  text-transform: lowercase;
  color: #ccc;
}
#advantages .box.no-border h4 a {
  color: #ccc;
}
#advantages .box.no-border h4 a:hover {
  text-decoration: none;
}
#advantages .box.no-border:hover i {
  color: #6aae7a;
}
/* homepage slider */
#slider a img {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#slider a:hover img {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.box {
  background: #fff;
  margin: 0 0 30px;
  border: solid 1px #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  border-left: none;
  border-right: none;
}
.box .box-header {
  background: #f7f7f7;
  margin: -20px -20px 20px;
  padding: 20px;
  border-bottom: solid 1px #eeeeee;
}
.box .box-header:before,
.box .box-header:after {
  content: " ";
  display: table;
}
.box .box-header:after {
  clear: both;
}
.box .box-footer {
  background: #f7f7f7;
  margin: 30px -20px -20px;
  padding: 20px;
  border-top: solid 1px #eeeeee;
}
.box .box-footer:before,
.box .box-footer:after {
  content: " ";
  display: table;
}
.box .box-footer:after {
  clear: both;
}
@media (max-width: 991px) {
  .box .box-footer .btn {
    margin-bottom: 20px;
  }
}
.box.no-border {
  border: none;
}
/* ribbons for product sales etc. */
.ribbon {
  position: absolute;
  top: 50px;
  padding-left: 51px;
}
.ribbon .ribbon-background {
  position: absolute;
  top: 0;
  right: 0;
}
.ribbon .theribbon {
  position: relative;
  padding: 5px 10px;
  margin: 20px 10px 10px -71px;
  color: #fff;
  background-color: #6aae7a;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
.ribbon .theribbon:hover {
  background-color: #488456;
}
.ribbon .theribbon:before,
.ribbon .theribbon:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}
.ribbon .theribbon:after {
  left: 0px;
  top: 100%;
  border-width: 5px 10px;
  border-style: solid;
  border-color: #000000 #000000 transparent transparent;
}
.ribbon.ribbon-quick-view {
  padding-left: 36px;
}
.ribbon.ribbon-quick-view .theribbon {
  margin-left: -59px;
}
.ribbon.ribbon-quick-view .theribbon:after {
  border-width: 4px 4px;
}
.ribbon.sale {
  top: 0;
}
.ribbon.new {
  top: 50px;
}
.ribbon.new .theribbon {
  background-color: #5bc0de;
  text-shadow: 0px 1px 2px #bbb;
}
.ribbon.new .theribbon:after {
  border-color: #2390b0 #2390b0 transparent transparent;
}
.ribbon.gift {
  top: 100px;
}
.ribbon.gift .theribbon {
  background-color: #5cb85c;
  text-shadow: 0px 1px 2px #bbb;
}
.ribbon.gift .theribbon:after {
  border-color: #357935 #357935 transparent transparent;
}

.icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  color: #fff;
  line-height: 80px;
  border-radius: 40px;
  border: solid 1px #fff;
  font-size: 20px;
}
.icon.icon-lg {
  font-size: 30px;
  border-width: 2px;
}
.bar {
  position: relative;
  padding: 25px 0 50px 0;
  margin: -20px 0 20px 0;
}
.bar.background-gray {
  background: #eeeeee;
}
.bar.background-gray-dark {
  background: #555555;
}
.bar.background-white {
  background: #fff;
}
.bar.background-image-fixed-home {
  background: url('../img/fixed-background-home.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
.bar.color-white h1,
.bar.color-white h2,
.bar.color-white h3,
.bar.color-white h4,
.bar.color-white h5,
.bar.color-white h6,
.bar.color-white p {
  color: #fff;
}
.bar.padding-big {
  padding: 50px 0;
}
.bar.padding-horizontal {
  padding-left: 30px;
  padding-right: 30px;
}
.bar.margin-vertical {
  margin-top: 20px;
  margin-bottom: 20px;
}
.bar .dark-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.70;
  filter: alpha(opacity=70);
}
#footer {
  border-top: solid 1px #cccccc;
  background: #f7f7f7;
  padding: 20px 0;
}
#footer ul {
  padding-left: 0;
  list-style: none;
}
#footer ul a {
  color: #999999;
}
#footer ul a:hover {
  color: #6aae7a;
  text-decoration: none;
}
#copyright {
  background: #333;
  color: #ccc;
  padding: 20px 0;
  font-size: 12px;
  line-height: 28px;
}
#copyright .social {
  font-size: 16px;
  padding:0;
  margin:0;
  text-decoration: none;
}
#copyright p {
  margin: 0;
}
@media (max-width: 991px) {
  #copyright p {
    float: none !important;
    text-align: center;
    margin-bottom: 10px;
  }
}
#style-switch-button {
  position: fixed;
  top: 100px;
  left: 0px;
  border-radius: 0;
}
#style-switch {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 250px;
  padding: 20px;
  position: fixed;
  top: 140px;
  left: 0;
  background: #fff;
  border: solid 1px #eeeeee;
}
.modal-backdrop {
  z-index: 1035;
}
/* Original Boostrap template overwrite */
/* nav */
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav > li > a {
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #eeeeee;
}
.nav > li.disabled > a {
  color: #999999;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #999999;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #6aae7a;
}
.nav-pills > li > a {
  border-radius: 0;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #6aae7a;
}
.nav-tabs-justified > li > a {
  border-radius: 4px;
}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}
/* navbar */
.navbar {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  margin:0;
  padding: 0;
  border-bottom: 1px solid transparent;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}
.navbar-collapse {
  max-height: 340px;
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-collapse.in {
  overflow-y: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse {
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  .navbar-collapse {
    float: left;
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
.navbar-brand {
  float: left;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 56px;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
.navbar-toggle {
  padding: 6px 10px !important;
  margin-right: 15px;
  border-radius: 4px;
}
.navbar-nav {
  margin: 15px -15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
}
.navbar-form {
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 15px;
  border: none;
  margin-top: 23px;
  margin-bottom: 23px;
}
@media (max-width: 767px) {
  .navbar-form .form-group {
    margin-bottom: 5px;
  }
}
.navbar-btn {
  margin-top: 23px;
  margin-bottom: 23px;
}
.navbar-btn.btn-sm {
  margin-top: 25px;
  margin-bottom: 25px;
}
.navbar-btn.btn-xs {
  margin-top: 29px;
  margin-bottom: 29px;
}
.navbar-text {
  margin-top: 30px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
  }
  .navbar-text.navbar-right:last-child {
    margin-right: 0;
  }
}
.navbar-default {
  background-color: #ffffff;
  border-bottom-color: #e6e6e6;
}
.navbar-default .navbar-brand {
  color: #777777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #777777;
}
.navbar-default .navbar-nav > li > a {
  color: #777777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: transparent;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #dddddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #488456;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888888;
}
.navbar-default .navbar-collapse {
  border-color: #e6e6e6;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #555555;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #777777;
}
.navbar-default .navbar-link:hover {
  color: #333333;
}
/* breadcrumbs */
.breadcrumb {
  padding: 8px 0;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 0;
  text-align: right;
}
.breadcrumb > li + li:before {
  content: ">\00a0";
  color: #cccccc;
}
.breadcrumb > .active {
  color: #999999;
}
@media (max-width: 991px) {
  .breadcrumb {
    padding: 8px 0;
    text-align: center;
  }
}
/* buttons  */
.btn {
  font-weight: normal;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  padding: 6px 10px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 3px;
}
.header-xs {
  padding: 6px;
}
.btn-primary {
  color: #fff;
  background-color: #6aae7a;
  border-color: #6aae7a;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #488456;
  border-color: #6aae7a;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  color: #6aae7a;
  background-color: #ffffff;
}
.btn-primary .badge {
  color: #6aae7a;
  background-color: #ffffff;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 4px;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
/* dropdowns */
.dropdown-menu > li > a {
  padding: 5px 20px;
}
/* labels */
.label {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: lowercase;
}
/* forms.less */
label {
  font-weight: normal;
}
.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-group {
  margin-bottom: 20px;
}
/* pager*/
.pager {
  margin: 20px 0;
  border-top: solid 1px #eeeeee;
  padding-top: 20px;
  text-transform: lowercase;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  background-color: #ffffff;
  border: 1px solid #6aae7a;
  border-radius: 4px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  color: #fff;
  background-color: #6aae7a;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  background-color: #ffffff;
  border-color: #ddd;
}
/* pagination */
.pagination {
  margin: 20px 0;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  border-radius: 0;
}
.pagination > li > a,
.pagination > li > span {
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #6aae7a;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #6aae7a;
  background-color: #cde4d2;
  border-color: #dddddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #6aae7a;
  border-color: #6aae7a;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  background-color: #ffffff;
  border-color: #dddddd;
}
/* responsive utilities */
@media (max-width: 767px) {
  .text-center-xs {
    text-align: center !important;
  }
  .text-center-xs img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .text-center-sm {
    text-align: center !important;
  }
  .text-center-sm img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 991px) {
  .text-center-lg {
    text-align: center !important;
  }
  .text-center-lg img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/* type */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: #555555;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  /*margin-top: 20px;*/
  margin-bottom: 20px;
}
p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
.text-small {
  font-size: 12px;
}
.text-large {
  font-size: 18px;
}
.text-italic {
  font-style: italic;
}
.text-primary {
  color: #6aae7a;
}
a.text-primary:hover {
  color: #519461;
}
.bg-primary {
  color: #fff;
  background-color: #6aae7a;
}
a.bg-primary:hover {
  background-color: #519461;
}
abbr[title],
abbr[data-original-title] {
  border-bottom: 1px dotted #999999;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 14px;
  border-left: 5px solid #6aae7a;
}
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #999999;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}
.blockquote-reverse,
blockquote.pull-right {
  border-right: 5px solid #6aae7a;
}
address {
  margin-bottom: 20px;
  line-height: 1.42857143;
}
.panel-primary {
  border-color: #6aae7a;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #6aae7a;
  border-color: #6aae7a;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #6aae7a;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #6aae7a;
}
.panel-primary .panel-title {
  font-weight: 300;
}
.panel-primary .panel-title a:hover {
  color: #fff;
  text-decoration: none;
}
a.badge:hover,
a.badge:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
a.list-group-item {
  color: #6aae7a;
  background-color: #f5f5f5;
  border-color: #ccc;
}
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus{
  color: #555555;
  background-color: #f5f5f5;
  border-color: #ccc;
}
a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #6aae7a;
  background-color: #ffffff;
}
.nav-pills > li > a > .badge {
  margin-left: 3px;
}
.bottom-spacing-0 {
  margin-bottom: 0;
}
.bottom-spacing-5 {
  margin-bottom: 5px;
}
.bottom-spacing-10 {
  margin-bottom: 10px;
}
.bottom-spacing-15 {
  margin-bottom: 15px;
}
.bottom-spacing-20 {
  margin-bottom: 20px;
}
.bottom-spacing-30 {
  margin-bottom: 30px;
}
.icon-home {
  height: 40px;
  font-size: 16px;
}
.icon-margin-right {
  margin-right: 5px;
}
.well {
  padding: 10px;
}
.progress {
  height: 10px;
  background-color: #fff;
  border: solid 1px #ccc;
  margin-bottom: 5px;
}
.progress-bar-success {
  background-color: #6aae7a;
}
.give-page-amount {
  font-size: 18px;
  margin-bottom: -5px;
}
.give-page-location {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  padding-top: 2px;
}
.give-page-days-left {
  float: right;
  font-size: 12px;
  padding-top: 5px;
}
.give-page-category {
  padding-top: 1px;
}
.give-page-categories {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
  text-decoration: none; !important;
}
.give-page-link {
  color: #555555;
}
.give-page-icon:hover {
  font-size: 16px;
  padding-top:2px;
}
.container-fluid {
  max-width: 980px;
}
.list-group-item-header {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  background-color: #555555;
  color: #f5f5f5;
  border-color: #555555;
}
.padding10 {
  padding: 10px;
}
.padding15 {
  padding: 15px;
}
.padding20 {
  padding: 20px;
}
.padding5x10 {
  padding: 5px 10px;
}
.font12 {
  font-size: 12px;
}
.font36 {
  font-size: 32px;
}
.logo-icon-header {
  color: #6aae7a;
  font-size:32px;
  vertical-align: top;
}
.logo-icon-footer {
  font-size:8px;
  vertical-align: bottom;
}
.social-label {
  margin-bottom: 5px;
}
.btn-default {
  color: #6aae7a;
  border-color: #6aae7a;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active{
  color: #488456;
  border-color: #488456;
  background-color: transparent;
}
.page {
  min-height: 300px;
}
.hiw-home {
  font-size: 20px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-decoration: none;
}
.hiw-item {
  margin-bottom: 27px;
}
.hiw-text {
  font-size: 16px;
}
.hiw-number {
  display: inline-block;
  width: 45px;
  height: 45px;
  color: #6aae7a;
  line-height: 45px;
  border-radius: 25px;
  border: solid 1px #6aae7a;
  font-size: 26px;
  text-align: center;
  margin-right: 25px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
.hiw-number:hover,
.hiw-number:active,
.hiw-number:focus {
  color: #488456;
  border-color: #488456;
}
#header-alert {
  margin-top: -20px;
  padding: 10px 0;
}
@media (max-width: 767px) {
  .barText {
    font-size: 30px;
    line-height: 40px;
  }
  .carousel-indicators {
    margin-bottom: -45px;
  }
  .carousel-control {
    padding-top: 125px;
  }
}
@media (min-width: 768px) {
  .barText {
    font-size: 38px;
    line-height: 50px;
  }
  .carousel-indicators {
    margin-bottom: -55px;
  }
  .carousel-control {
    padding-top: 145px;
  }
}
.check-item {
  font-size: 16px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  height: 49px;
}
.check-icon {
  color: #6aae7a;
  font-size: 24px;
}
.green-border {
  border-color: #6aae7a;
}
.green-text {
  color: #6aae7a;
}
.green-text:hover,
.green-text:active,
.green-text:focus{
  color: #488456;
}
.dropdown-menu > li > a {
  color: #6aae7a;
}
.dropdown-menu:hover > li > a {
  background-color: #fff;
}
.pageTitle {
  font-size: 24px;
  font-weight: bold;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}
.breadcrumb,
.modal,
.footer-name,
.input-group-addon,
.form-control,
.list-group-item,
.nav-tabs,
.button,
.dropdown-toggle,
.well
{
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: lowercase;
}
.default-text {
  font-family: "Merriweather", "Times New Roman", Times, serif;
}