<template name="explore">
    <div id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 page">

                    <!-- search -->
                    <div class="row bottom-spacing-20">
                        <div class="col-md-12">
                            <div class="hidden-xs">
                                <div class="input-group input-group-lg">
                                    {{> search}}
                                </div>
                            </div>
                            <div class="visible-xs">
                                <div class="input-group">
                                    {{> search}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /search -->

                    <!-- fundraiser container -->
                    <div class="row">

                        <div class="col-sm-12">

                            <div class="row bottom-spacing-20">
                                <div class="col-md-12">
                                    <ul class="nav nav-tabs">
                                        <li role="presentation" class="active"><a href="#">popular</a></li>
                                        <li role="presentation"><a href="#">local</a></li>
                                        <li role="presentation"><a href="#">ending</a></li>
                                        <li role="presentation"><a href="#">friends</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /filter fundraisers -->

                            <!-- display fundraisers -->
                            <div class="row">

                                {{> fundraiserList}}

                            </div>
                            <!-- /display fundraisers -->

                            <!-- load more fundraisers -->
                            <div class="row bottom-spacing-20">
                                <div class="col-md-offset-4 col-md-4 col-md-offset-4 text-center">
                                    <a href="/explore" class="btn btn-primary btn-lg btn-block">See All Fundraisers</a>
                                </div>
                            </div>
                            <!-- /view all fundraisers -->
                        </div>
                        <!-- /.col-md-9 -->

                    </div>

                </div>
                <!-- /.col-sm-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->
</template>