<template name="footer">

    <!-- footer -->
    <div id="footer">
        <div class="container-fluid">
            <div class="col-md-3 col-sm-6">
                <h4>Fundraising</h4>
                <a href="#">How It Works</a><br/>
                <a href="#">Start</a><br/>
                <a href="#">Giveaway</a><br/>
                <a href="#">Ideas</a><br/>
                <a href="#">Fees</a><br/>

                <hr class="hidden-md hidden-lg hidden-sm">

            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6">

                <h4>General</h4>
                <a href="#">About</a><br/>
                <a href="#">Winners</a><br/>
                <a href="#">Help</a><br/>
                <a href="#">Contact</a><br/>
                <a href="#" data-toggle="modal" data-target="#modal-signin">Sign In</a>

                <hr class="hidden-md hidden-lg">

            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6">

                <h4>Legal</h4>
                <a href="#">Rules</a><br/>
                <a href="#">Terms</a><br/>
                <a href="#">Privacy</a><br/>

                <hr class="hidden-md hidden-lg">

            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6">

                <h4>Platform</h4>
                <strong>Raised:</strong> $0<br/>
                <strong>Giveaway:</strong> $0<br/>
                <strong>Fundraisers:</strong> 0<br/>
                <strong>Supporters:</strong> 0<br/>

            </div>
            <!-- /.col-md-3 -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#footer -->

    <!-- copyright -->
    <div id="copyright">
        <div class="container-fluid">
            <div class="col-md-12 footer-name text-center">
                <a href="#" class="modalsocial social">
                    <i class="fa fa-facebook-square social"></i>
                </a>
                <a href="#" class="modalsocial social">
                    <i class="fa fa-twitter-square social"></i>
                </a>
                <a href="#" class="modalsocial social">
                    <i class="fa fa-share-square social"></i>
                </a>
                <div>
                    &copy; {{footerYear}} Gi<i class="fa fa-heart logo-icon-footer" style="padding:0 1px; margin:-1px 0 0 0;"></i>e.cm
                </div>
            </div>
        </div>
    </div>
    <!-- /#copyright -->


</template>