<template name="fundraiserStart">
    <div id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 page">

                    <form id="startAFundraiser">
                        <input type="text" name="location" id="location" class="form-control input-lg" placeholder="Enter Your Location"/>
                        <!--<div id="map"></div>-->
                    </form>

                </div>
                <!-- /.col-sm-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->
</template>