<template name="home">

    <!-- bar -->
    <div class="bar background-image-fixed-home color-white text-center">
        <div class="dark-mask"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="hidden-xs">
                        Raise Money And Win<br/>
                        Crowdfunded Gifts
                    </h1>
                    <p class="text-center hidden-xs">
                        <a href="#" class="btn btn-primary-inverse btn-lg">Sign Up free</a>
                        <span style="padding-right: 10px;"></span>
                        <a href="#" class="btn btn-primary-inverse btn-lg">Learn More</a>
                    </p>
                    <h2 class="visible-xs">
                        Raise Money And Win<br/>
                        Crowdfunded Gifts
                    </h2>
                    <p class="text-center visible-xs">
                        <a href="#" class="btn btn-primary-inverse">Sign Up free</a>
                        <span style="padding-right: 10px;"></span>
                        <a href="#" class="btn btn-primary-inverse">Learn More</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
    <!-- /bar -->

    <!-- content -->
    <div id="content">

        <!-- container -->
        <div class="container-fluid">

            <!-- search -->
            <div class="row bottom-spacing">
                <div class="col-md-12">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input type="text" name="search" id="search" class="form-control" placeholder="search fundraisers...">
                    </div>
                </div>
            </div>
            <!-- /search -->

            <!-- fundraiser container -->
            <div class="row">

                <div class="col-sm-9">

                    <!-- filter fundraisers -->
                    <div class="row bottom-spacing">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs">
                                <li role="presentation" class="active"><a href="#">popular</a></li>
                                <li role="presentation"><a href="#">local</a></li>
                                <li role="presentation"><a href="#">ending</a></li>
                                <li role="presentation"><a href="#">friends</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /filter fundraisers -->

                    <!-- display fundraisers -->
                    <div class="row">

                        <!-- fundraiser -->
                        <div class="col-md-4 col-sm-6">
                            <div class="well clickable">
                                <a href="#"><img src="img/fundraiser.png" alt="" class="img-responsive"/></a>
                                <h5>Fundraiser 1</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="25"
                                         aria-valuemin="0" aria-valuemax="25" style="width: 25%;">
                                        <span class="sr-only">25% Funded</span>
                                    </div>
                                </div>
                                <a href="#"><i class="fa fa-info-circle fundraiser-info"></i></a>
                                <div class="fundraiser-amount">$11,327</div>
                            </div>
                        </div>
                        <!-- /fundraiser -->

                        <div class="col-md-4 col-sm-6">
                            <div class="well clickable">
                                <a href="#"><img src="img/fundraiser.png" alt="" class="img-responsive"/></a>
                                <h5>Fundraiser 2</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="68"
                                         aria-valuemin="0" aria-valuemax="68" style="width: 68%;">
                                        <span class="sr-only">68% Funded</span>
                                    </div>
                                </div>
                                <a href="#"><i class="fa fa-info-circle fundraiser-info"></i></a>
                                <div class="fundraiser-amount">$35,573</div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="well clickable">
                                <a href="#"><img src="img/fundraiser.png" alt="" class="img-responsive"/></a>
                                <h5>Fundraiser 3</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="82"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 82%;">
                                        <span class="sr-only">82% Funded</span>
                                    </div>
                                </div>
                                <a href="#"><i class="fa fa-info-circle fundraiser-info"></i></a>
                                <div class="fundraiser-amount">$76,380</div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="well clickable">
                                <a href="#"><img src="img/fundraiser.png" alt="" class="img-responsive"/></a>
                                <h5>Fundraiser 4</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="72"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 72%;">
                                        <span class="sr-only">72% Funded</span>
                                    </div>
                                </div>
                                <a href="#"><i class="fa fa-info-circle fundraiser-info"></i></a>
                                <div class="fundraiser-amount">$54,636</div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="well clickable">
                                <a href="#"><img src="img/fundraiser.png" alt="" class="img-responsive"/></a>
                                <h5>Fundraiser 5</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="51"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 51%;">
                                        <span class="sr-only">51% Funded</span>
                                    </div>
                                </div>
                                <a href="#"><i class="fa fa-info-circle fundraiser-info"></i></a>
                                <div class="fundraiser-amount">$6,900</div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="well clickable">
                                <a href="#"><img src="img/fundraiser.png" alt="" class="img-responsive"/></a>
                                <h5>Fundraiser 6</h5>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="33"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 33%;">
                                        <span class="sr-only">33% Funded</span>
                                    </div>
                                </div>
                                <a href="#"><i class="fa fa-info-circle fundraiser-info"></i></a>
                                <div class="fundraiser-amount">$17,895</div>
                            </div>
                        </div>

                    </div>
                    <!-- /display fundraisers -->

                    <!-- view all fundraisers -->
                    <div class="row bottom-spacing">
                        <div class="col-md-12 text-center">
                            <a href="#" class="btn btn-primary btn-lg">View All Fundraisers</a>
                        </div>
                    </div>
                    <!-- /view all fundraisers -->
                </div>
                <!-- /.col-md-9 -->

                <!-- browse fundraisers -->
                <div class="col-sm-3">
                    <div class="list-group">
                        <div class="list-group-item list-group-item-header">Browse Fundraisers</div>
                        <a class="list-group-item" href="#"><i class="fa fa-paw fa-lg fa-fw icon-list-space"></i>&nbsp; Animals</a>
                        <a class="list-group-item" href="#"><i class="fa fa-users fa-lg fa-fw icon-list-space"></i>&nbsp; Community</a>
                        <a class="list-group-item" href="#"><i class="fa fa-graduation-cap fa-lg fa-fw icon-list-space"></i>&nbsp; Education</a>
                        <a class="list-group-item" href="#"><i class="fa fa-ambulance fa-lg fa-fw icon-list-space"></i>&nbsp; Emergencies</a>
                        <a class="list-group-item" href="#"><i class="fa fa-birthday-cake fa-lg fa-fw icon-list-space"></i>&nbsp; Events</a>
                        <a class="list-group-item" href="#"><i class="fa fa-book fa-lg fa-fw icon-list-space"></i>&nbsp; Faith</a>
                        <a class="list-group-item" href="#"><i class="fa fa-home fa-lg fa-fw icon-list-space"></i>&nbsp; Family</a>
                        <a class="list-group-item" href="#"><i class="fa fa-plus-square fa-lg fa-fw icon-list-space"></i>&nbsp; Medical</a>
                        <a class="list-group-item" href="#"><i class="fa fa-star fa-lg fa-fw icon-list-space"></i>&nbsp; Memorials</a>
                        <a class="list-group-item" href="#"><i class="fa fa-smile-o fa-lg fa-fw icon-list-space"></i>&nbsp; Other</a>
                        <a class="list-group-item" href="#"><i class="fa fa-futbol-o fa-lg fa-fw icon-list-space"></i>&nbsp; Sports</a>
                        <a class="list-group-item" href="#"><i class="fa fa-check fa-lg fa-fw icon-list-space"></i>&nbsp; Volunteer</a>
                    </div>
                </div>
                <!-- /browse fundraisers -->

            </div>
            <!-- /fundraiser container -->

        </div>
        <!-- /container -->

    </div>
    <!-- /content -->

</template>