<template name="home">

    <!-- bar -->
    <div class="bar background-image-fixed-home color-white text-center">
        <div class="dark-mask"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="hidden-xs">
                        Raise Money And Win<br/>
                        Crowdfunded Gifts
                    </h1>
                    <p class="text-center hidden-xs">
                        <a href="#" class="btn btn-primary-inverse btn-lg">Sign Up free</a>
                        <span style="padding-right: 10px;"></span>
                        <a href="#" class="btn btn-primary-inverse btn-lg">Learn More</a>
                    </p>
                    <h2 class="visible-xs">
                        Raise Money And Win<br/>
                        Crowdfunded Gifts
                    </h2>
                    <p class="text-center visible-xs">
                        <a href="#" class="btn btn-primary-inverse">Sign Up free</a>
                        <span style="padding-right: 10px;"></span>
                        <a href="#" class="btn btn-primary-inverse">Learn More</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
    <!-- /bar -->

    <!-- content -->
    <div id="content">

        <!-- container -->
        <div class="container-fluid">

            <!-- search -->
            <div class="row bottom-spacing">
                <div class="col-md-12">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input type="text" name="search" id="search" class="form-control" placeholder="search fundraisers...">
                    </div>
                </div>
            </div>
            <!-- /search -->

            <!-- fundraiser container -->
            <div class="row">

                <div class="col-sm-9">

                    <!-- filter fundraisers -->
                    <div class="row bottom-spacing">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs">
                                <li role="presentation" class="active"><a href="#">popular</a></li>
                                <li role="presentation"><a href="#">local</a></li>
                                <li role="presentation"><a href="#">ending</a></li>
                                <li role="presentation"><a href="#">friends</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /filter fundraisers -->

                    <!-- display fundraisers -->
                    <div class="row">

                        <!-- fundraisers -->
                        {{#each fundraisers}}
                            <!-- column -->
                            <div class="col-md-4 col-sm-6">

                                <div class="panel panel-default">
                                    <div class="panel-heading padding10 clickable">
                                        <!-- image -->
                                        <div class="fundraiser-image">
                                            <a href="#" class="fundraiser-link">
                                                <img src="{{image}}" alt="{{title}}" class="img-responsive"/>
                                            </a>
                                        </div>

                                        <!-- title -->
                                        <h5>
                                            <a href="#" class="fundraiser-link">
                                                {{title}}
                                            </a>
                                        </h5>

                                        <!-- funding bar -->
                                        <div class="progress">
                                            <a href="#" class="fundraiser-link">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{percentFunded}}"
                                                     aria-valuemin="0" aria-valuemax="{{percentFunded}}" style="width: {{percentFunded}}%;">
                                                    <span class="sr-only">{{percentFunded}}% Funded</span>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- days left -->
                                        <div class="fundraiser-days-left">
                                            <a href="#" class="fundraiser-link">
                                                {{daysLeft}} days left
                                            </a>
                                        </div>

                                        <!-- amount raised -->
                                        <div class="fundraiser-amount">
                                            <a href="#" class="fundraiser-link">
                                                {{currencySymbol}}{{amountFormat}}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="panel-body padding5x10">
                                        <div class="fundraiser-category pull-right">
                                            <a href="#" class="fundraiser-link">
                                                <i class="{{categoryIcon}} fundraiser-icon" style="font-size: 16px; padding-top:2px;"></i>
                                            </a>
                                        </div>
                                        <div class="fundraiser-location font12">
                                            <a href="#" class="fundraiser-link">
                                                {{location}}
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /column -->

                        {{/each}}
                        <!-- /fundraisers -->

                    </div>
                    <!-- /display fundraisers -->

                    <!--&lt;!&ndash; view all fundraisers &ndash;&gt;-->
                    <!--<div class="row bottom-spacing">-->
                        <!--<div class="col-md-12 text-center">-->
                            <!--<a href="#" class="btn btn-primary btn-lg">View All Fundraisers</a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /view all fundraisers &ndash;&gt;-->
                </div>
                <!-- /.col-md-9 -->

                <!-- browse fundraisers -->
                <div class="col-sm-3">
                    <div class="list-group">
                        <div class="list-group-item list-group-item-header">Browse Fundraisers</div>
                        {{#each categories}}
                            <a class="list-group-item" href="#"><i class="{{icon}} fa-lg fa-fw icon-list-space"></i>&nbsp; {{name}}</a>
                        {{/each}}
                    </div>
                </div>
                <!-- /browse fundraisers -->

            </div>
            <!-- /fundraiser container -->

        </div>
        <!-- /container -->

    </div>
    <!-- /content -->

</template>