<template name="home">

    <!-- bar -->
    <div class="bar background-image-fixed-home color-white text-center">
        <div class="dark-mask"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>
                        Raise money &<br/>
                        win donations<br/>
                        for your cause
                    </h1>
                    <a href="#" class="btn btn-warning btn-lg">Sign Up Free</a>
                    <span style="margin-right: 10px;"></span>
                    <a href="#" class="btn btn-warning btn-lg">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /bar -->

    <!-- content -->
    <div id="content">

        <!-- container -->
        <div class="container-fluid">

            <!-- search -->
            <div class="row bottom-spacing">
                <div class="col-md-12">
                    <div class="input-group input-group-lg">
                        {{> search}}
                    </div>
                </div>
            </div>
            <!-- /search -->

            <!-- fundraiser container -->
            <div class="row">

                <div class="col-sm-12">

                    <!-- filter fundraisers
                    <div class="btn-group btn-group-justified bottom-spacing" role="group" aria-label="Filter Fundraisers">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary">Popular</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default">Local</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default">Ending</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default">Friends</button>
                        </div>
                    </div> -->
                    <div class="row bottom-spacing">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs">
                                <li role="presentation" class="active"><a href="#">popular</a></li>
                                <li role="presentation"><a href="#">local</a></li>
                                <li role="presentation"><a href="#">ending</a></li>
                                <li role="presentation"><a href="#">friends</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /filter fundraisers -->

                    <!-- display fundraisers -->
                    <div class="row">

                        <!-- fundraisers -->
                        {{#each fundraisers}}
                            <!-- column -->
                            <div class="col-md-4 col-sm-6">

                                <div class="panel panel-default">
                                    <div class="panel-heading padding10 clickable">
                                        <!-- image -->
                                        <div class="fundraiser-image">
                                            <a href="/{{customUrl}}" class="fundraiser-link">
                                                <img src="{{image}}" alt="{{title}}" class="img-responsive"/>
                                            </a>
                                        </div>

                                        <!-- title -->
                                        <h5>
                                            <a href="/{{customUrl}}" class="fundraiser-link">
                                                {{title}}
                                            </a>
                                        </h5>

                                        <!-- funding bar -->
                                        <div class="progress">
                                            <a href="/{{customUrl}}" class="fundraiser-link">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{percentFunded}}"
                                                     aria-valuemin="0" aria-valuemax="{{percentFunded}}" style="width: {{percentFunded}}%;">
                                                    <span class="sr-only">{{percentFunded}}% Funded</span>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- days left -->
                                        <div class="fundraiser-days-left">
                                            <a href="/{{customUrl}}" class="fundraiser-link">
                                                {{pluralize daysLeft "Day"}} left
                                            </a>
                                        </div>

                                        <!-- amount raised -->
                                        <div class="fundraiser-amount">
                                            <a href="/{{customUrl}}" class="fundraiser-link">
                                                {{currencySymbol}}{{amountFormat}}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="panel-body padding5x10">
                                        <div class="fundraiser-category pull-right">
                                            <a href="#" class="fundraiser-link" title="{{category}}">
                                                <i class="{{categoryIcon}} fundraiser-icon" style="font-size: 16px; padding-top:2px;"></i>
                                            </a>
                                        </div>
                                        <div class="fundraiser-location font12">
                                            <a href="#" class="fundraiser-link">
                                                {{location}}
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /column -->

                        {{/each}}
                        <!-- /fundraisers -->

                    </div>
                    <!-- /display fundraisers -->

                    <!-- load more fundraisers -->
                    <div class="row bottom-spacing">
                        <div class="col-md-offset-4 col-md-4 col-md-offset-4 text-center">
                            <a href="#" class="btn btn-primary btn-lg btn-block"><i class="fa fa-repeat"></i> Load More</a>
                        </div>
                    </div>
                    <!-- /view all fundraisers -->
                </div>
                <!-- /.col-md-9 -->
                
            </div>
            <!-- /fundraiser container -->

        </div>
        <!-- /container -->

    </div>
    <!-- /content -->

</template>