<template name="footer">

    <!-- footer -->
    <div id="footer">
        <div class="container-fluid">
            <div class="col-md-3 col-sm-6">
                <h4>Fundraising</h4>
                <a href="#">How It Works</a><br/>
                <a href="#">Start</a><br/>
                <a href="#">Giveaway</a><br/>
                <a href="#">Ideas</a><br/>
                <a href="#">Fees</a><br/>

                <hr class="hidden-md hidden-lg hidden-sm">

            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6">

                <h4>General</h4>
                <a href="#">About</a><br/>
                <a href="#">Winners</a><br/>
                <a href="#">FAQ</a><br/>
                <a href="#">Contact</a><br/>
                <a href="#">Legal</a><br/>

                <hr class="hidden-md hidden-lg">

            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6">

                <h4>Social</h4>
                <!--<ul class="fa-ul">-->
                <!--<li><a href="https://facebook.com/gogivecm" target="_blank"><i class="fa-li fa fa-facebook-square"></i></a>Facebook</li>-->
                <!--<li><a href="https://twitter.com/gogivecm" target="_blank"><i class="fa-li fa fa-facebook-square"></i></a>Twitter</li>-->
                <!--<li><a href="https://plus.google.com/gogivecm" target="_blank"><i class="fa-li fa fa-facebook-square"></i></a>Google+</li>-->
                <!--</ul>-->

                <a href="#" data-toggle="modal" data-target="#social-modal"><i class="fa fa-facebook-square font36"></i></a><br/>
                <a href="#" data-toggle="modal" data-target="#social-modal"><i class="fa fa-twitter-square font36"></i></a><br/>
                <a href="#" data-toggle="modal" data-target="#social-modal"><i class="fa fa-google-plus-square font36"></i></a>

                <hr class="hidden-md hidden-lg">

            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6">

                <h4>Platform</h4>
                <strong>Raised:</strong> $0<br/>
                <strong>Giveaway:</strong> $0<br/>
                <strong>Fundraisers:</strong> 0<br/>
                <strong>Supporters:</strong> 0<br/>

            </div>
            <!-- /.col-md-3 -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#footer -->

    <!-- copyright -->
    <div id="copyright">
        <div class="container-fluid">
            <div class="col-md-12">
                <p class="footer-name">
                    <div class="pull-right">
                        &copy; {{footerYear}}
                        gi<i class="fa fa-heart" style="font-size:9px; margin:0; padding:0 1px;"></i>e
                    </div>





                </p>
            </div>
        </div>
    </div>
    <!-- /#copyright -->

</template>