<template name="footer">

    <!-- footer -->
    <div id="footer">
        <div class="container-fluid">
            <div class="col-md-3 col-sm-6">
                <h4>Fundraising</h4>
                <a href="#">How It Works</a><br/>
                <a href="#">Start</a><br/>
                <a href="#">Giveaway</a><br/>
                <a href="#">Ideas</a><br/>
                <a href="#">Fees</a><br/>

                <hr class="hidden-md hidden-lg hidden-sm">

            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6">

                <h4>General</h4>
                <a href="#">About</a><br/>
                <a href="#">Winners</a><br/>
                <a href="#">Help</a><br/>
                <a href="#">Contact</a><br/>
                <a href="#" data-toggle="modal" data-target="#signin-modal">Sign In</a>

                <hr class="hidden-md hidden-lg">

            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6">

                <h4>Legal</h4>
                <a href="#">Rules</a><br/>
                <a href="#">Terms</a><br/>
                <a href="#">Privacy</a><br/>

                <hr class="hidden-md hidden-lg">

            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-3 col-sm-6">

                <h4>Platform</h4>
                <strong>Raised:</strong> $0<br/>
                <strong>Giveaway:</strong> $0<br/>
                <strong>Fundraisers:</strong> 0<br/>
                <strong>Supporters:</strong> 0<br/>

            </div>
            <!-- /.col-md-3 -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#footer -->

    <!-- copyright -->
    <div id="copyright">
        <div class="container-fluid">
            <div class="col-md-12">
                <p class="pull-left footer-name">&copy; {{footerYear}} Give.cm</p>

                <p class="pull-right social">
                    <a href="#" data-toggle="modal" data-target="#social-modal"><i class="fa fa-facebook-square" style="margin-right: 0;"></i></a>
                    <a href="#" data-toggle="modal" data-target="#social-modal"><i class="fa fa-twitter-square" style="margin-right: 0;"></i></a>
                    <a href="#" data-toggle="modal" data-target="#social-modal"><i class="fa fa-google-plus-square"></i></a>
                </p>

            </div>
        </div>
    </div>
    <!-- /#copyright -->

</template>