<template name="footer">

    <!-- copyright -->
    <div id="copyright">
        <div class="container-fluid">
            <div class="col-md-12 footer-name text-center">
                <div>
                    <a href="#" style="margin-right: 10px;">Home</a>
                    <a href="#" style="margin-right: 10px;">Gifts</a>
                    <a href="#" style="margin-right: 10px;">Help</a>
                    <a href="#">Legal</a>
                </div>
                <span class="default-text" style="margin-right: 5px;">&copy; {{footerYear}} Give</span>
                <a href="#" class="modalsocial social" style="margin-right: 5px;">
                    <i class="fa fa-facebook social"></i>
                </a>
                <a href="#" class="modalsocial social">
                    <i class="fa fa-twitter social"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- /#copyright -->


</template>