<template name="header">

    <div class="navbar navbar-default navbar-fixed-top yamm" role="navigation" id="navbar">
        <div class="container-fluid">

            <div class="row" style="padding-top:7px; font-size: 12px;">
                <div class="col-md-12">
                    <div class="pull-right">
                        Hello! <a href="#" data-toggle="modal" data-target="#signin-modal">sign in</a> or
                        <a href="#" data-toggle="modal" data-target="#signin-modal">sign up</a>
                    </div>
                </div>
            </div>

            <div class="navbar-header" style="margin:0; padding: 0;">
                <a class="navbar-brand" href="{{pathFor 'home'}}" style="margin:0; padding: 0;">
                    <div style="font-size: 48px; margin: 2px 0 0 0; padding: 0;">
                        gi<i class="fa fa-heart logo-icon-header" style="padding:0 4px 0 3px; margin:-2px 0 0 0;"></i>e
                    </div>
                </a>

                <div class="navbar-buttons" style="bmargin:0; padding: 0;">
                    <button type="button" class="navbar-toggle btn-primary" data-toggle="collapse" data-target="#explore" style="margin-top:9px; margin-bottom:0;">
                        <span class="sr-only">Explore</span>
                        <i class="fa fa-search fa-lg"></i>
                    </button>
                    <button type="button" class="navbar-toggle btn-primary" style="margin-top:9px; margin-bottom:0;" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-lg"></i>
                    </button>
                </div>
            </div>
            <!--/.navbar-header -->

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-left visible-xs">
                    <li><a href="#"><i class="fa fa-arrow-circle-up fa-lg"></i> Start A Fundraiser</a></li>
                    <li><a href="#"><i class="fa fa-globe fa-lg"></i> Explore</a></li>
                    <li><a href="#"><i class="fa fa-gift fa-lg"></i> Giveaway</a></li>
                    <li><a href="#"><i class="fa fa-info-circle fa-lg"></i> About</a></li>
                </ul>

            </div>
            <!--/.nav-collapse -->

            <div class="navbar-collapse collapse pull-right navlink">
                <a href="#" class="btn btn-primary-invert navbar-btn" data-toggle="collapse" data-target="#explore" style="margin-top:9px; margin-bottom:0;">
                    <i class="fa fa-search fa-lg"></i>
                    <span class="sr-only">Search</span>
                </a>
            </div>

            <div class="navbar-collapse collapse pull-right navlink">
                <a href="#" class="btn btn-primary navbar-btn" style="margin-top:9px; margin-bottom:0;">
                    <i class="fa fa-info-circle fa-lg"></i>
                    About
                </a>
            </div>

            <div class="navbar-collapse collapse pull-right navlink">
                <a href="#" class="btn btn-primary navbar-btn" style="margin-top:9px; margin-bottom:0;">
                    <i class="fa fa-gift fa-lg"></i>
                    Giveaway
                </a>
            </div>

            <div class="navbar-collapse collapse pull-right navlink">
                <a href="#" class="btn btn-primary navbar-btn" style="margin-top:9px; margin-bottom:0;">
                    <i class="fa fa-globe fa-lg"></i>
                    Explore
                </a>
            </div>

            <div class="navbar-collapse collapse pull-right">
                <a href="#" class="btn btn-primary navbar-btn" style="margin-top:9px; margin-bottom:0;">
                    <i class="fa fa-arrow-circle-up fa-lg"></i>
                    Start A Fundraiser
                </a>
            </div>

            <!-- explore -->
            <div class="collapse clearfix" id="explore">
                <div style="margin: 20px 0;">
                    <input type="text" name="searchheader" id="searchheader" class="form-control" placeholder="search fundraisers..."/>
                </div>
            </div>

        </div>

    </div>
    <!-- /#navbar -->

    <!-- modal: sign in -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
        <div class="modal-dialog modal-sm">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="Login">Sign In</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" id="email" placeholder="email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="password">
                    </div>

                    <p class="text-center">
                        <button class="btn btn-primary">sign in</button>
                    </p>

                    <p class="text-center text-muted"><a href="#">or sign up</a></p>

                    <!--<p class="text-center text-muted"><a href="register.html"><strong>Register now</strong></a>! It is-->
                    <!--easy and done in 1&nbsp;minute and gives you access to special discounts and much more!</p>-->

                </div>
            </div>
        </div>
    </div>
    <!-- modal: sign in -->

</template>