<template name="footer">

    <!-- footer -->
    <div id="footer">
        <div class="container-fluid">
            <div class="col-md-4 col-sm-6">
                <h4>Fundraising</h4>
                <a href="#">How It Works</a><br/>
                <a href="#">Start</a><br/>
                <a href="#">Gifts</a><br/>
                <a href="#">Explore</a><br/>
                <a href="#">Ideas</a><br/>

                <hr class="hidden-md hidden-lg hidden-sm">

            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-4 col-sm-6">

                <h4>General</h4>
                <a href="#">About</a><br/>
                <a href="#">Contact</a><br/>
                <a href="#">Legal</a><br/>
                <a href="#">Help</a><br/>
                <a href="#">Sign In</a><br/>

                <hr class="hidden-md hidden-lg">

            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-4 col-sm-6">

                <h4>Stats</h4>
                <strong>Members:</strong> 0<br/>
                <strong>Fundraisers:</strong> 0<br/>
                <strong>Raised:</strong> $0<br/>

            </div>
            <!-- /.col-md-3 -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /#footer -->

    <!-- copyright -->
    <div id="copyright">
        <div class="container-fluid">
            <div class="col-md-12">
                <p class="pull-left footer-name">&copy; {{footerYear}} Give.cm</p>

                <p class="pull-right social">
                    <a href="https://facebook.com/gogivecm" target="_blank"><i class="fa fa-facebook-square"></i></a>
                    <a href="https://twitter.com/gogivecm" target="_blank"><i class="fa fa-twitter-square"></i></a>
                    <a href="https://plus.google.com/gogivecm" target="_blank"><i class="fa fa-google-plus-square"></i></a>
                </p>

            </div>
        </div>
    </div>
    <!-- /#copyright -->


    <!--<script src="js/bootstrap.min.js"></script>-->
    <!--<script src="js/jquery.cookie.js"></script>-->
    <!--<script src="js/front.js"></script>-->

</template>