<template name="header">

    <div class="navbar navbar-default navbar-fixed-top yamm text-lowercase" role="navigation" id="navbar">
        <div class="container-fluid">
            <div class="navbar-header">

                <a class="navbar-brand home" href="{{pathFor 'home'}}">
                    <div style="font-size: 30px; margin-top: 20px;"><span style="color: #6aae7a">give</span>.cm</div>
                </a>

                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle btn-primary" data-toggle="modal" data-target="#signin-modal">
                        <span class="sr-only">Sign In</span>
                        <i class="fa fa-user fa-lg"></i>
                    </button>
                    <a href="#" class="navbar-toggle btn-primary">
                        <span class="sr-only">Gifts</span>
                        <i class="fa fa-gift fa-lg"></i>
                    </a>
                    <a href="#" class="navbar-toggle btn-primary">
                        <span class="sr-only">Start A Fundraiser</span>
                        <i class="fa fa-heart fa-lg"></i>
                    </a>
                </div>
            </div>
            <!--/.navbar-header -->

            <div class="navbar-collapse collapse right navlink">
                <a href="#" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#signin-modal">
                    <i class="fa fa-user fa-lg"></i>
                    Sign In
                </a>
            </div>

            <div class="navbar-collapse collapse right navlink">
                <a href="#" class="btn btn-primary navbar-btn">
                    <i class="fa fa-gift fa-lg"></i>
                    Crowdfunded Gifts
                </a>
            </div>

            <div class="navbar-collapse collapse right">
                <a href="#" class="btn btn-primary navbar-btn">
                    <i class="fa fa-heart fa-lg"></i>
                    Start A Fundraiser
                </a>
            </div>

            <!-- search -->
            <div class="collapse clearfix" id="search">
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">
			                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
		                </span>
                    </div>
                </form>

            </div>
            <!--/.nav-collapse -->

        </div>


    </div>
    <!-- /#navbar -->

    <!-- modal: sign in -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
        <div class="modal-dialog modal-sm">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="Login">Sign In</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" id="email" placeholder="email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="password">
                    </div>

                    <p class="text-center">
                        <button class="btn btn-primary">sign in</button>
                    </p>

                    <p class="text-center text-muted"><a href="#">or sign up</a></p>

                    <!--<p class="text-center text-muted"><a href="register.html"><strong>Register now</strong></a>! It is-->
                        <!--easy and done in 1&nbsp;minute and gives you access to special discounts and much more!</p>-->

                </div>
            </div>
        </div>
    </div>
    <!-- modal: sign in -->

</template>