<template name="notFound">
    <div id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3" id="error-page">

                    <h3 style="color: #ac2925">
                        <i class="fa fa-warning"></i>
                        Page not found
                    </h3>

                    <p class="buttons"><a href="{{pathFor 'home'}}" class="btn btn-default"><i class="fa fa-home"></i>
                        Go to Homepage</a></p>

                </div>
                <!-- /.col-sm-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->
</template>